.container
  =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    =devise_error_messages!

    .row
      .col-md-4
        %h3= t '.title.billing'
        %div
          =render 'addresses/form', address: :billing_address, form: f

      .col-md-4
        %h3= t '.title.shipping'
        %div
          =render 'addresses/form', address: :shipping_address, form: f
      .col-md-4
        %h3= t '.title.cart'
        %div
          =render 'credit_cards/form', card: :credit_card, form: f
    .row
      .col-md-6
        %h3= t '.title.person_info'
        .form-group
          =f.label :email
          =f.email_field :email, class: 'form-control'
        -if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div Currently waiting confirmation for: #{resource.unconfirmed_email}

      -unless resource.is_facebook_account
        .col-md-6
          %h3= t '.title.pass'
          .form-group
            = f.label(:password)
            %i= t '.hint.new_pass'
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label(:password_confirmation)
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

    .actions
      -unless resource.is_facebook_account
        .col-md-6.col-md-push-3
          = f.label(:current_password)
          %i= t '.hint.current_pass'
          .input-group
            = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          .input-group-btn
            = f.submit t('.btn_text'), class:'btn btn-primary'