.user-profile
  %h1= t '.title.profile'
  =link_to icon('edit'), edit_user_registration_path
  .row
    .col-md-10.col-md-push-1
      %b= t '.title.email'
      %span= @user.email
  .row
    .col-md-1
    -if @user.billing_address_id
      .col-md-3
        %h3= t '.title.billing'
        =print_address(@user.billing_address)

    -if @user.shipping_address_id
      .col-md-3
        %h3= t '.title.shipping'
        =print_address(@user.shipping_address)

    -if @user.credit_card_id
      .col-md-3
        %h3= t '.title.credit'
        =print_credit_card(@user.credit_card)