%p#notice= notice

.book-detail.clearfix
  .image.centered{style:"background-image: url('#{@book.image}');"}
  .describe
    %h1= @book.title
    %h2= @book.author.title
    .description
      =@book.description
    .price
      $
      %b= @book.price
    .cart-btn-container{id: @book.id}
      =render 'carts/add_btn', orders_item: @orders_item, book: @book
.reviews
  =render 'books/reviews'