%table.table.books
  %thead
    %tr
      %th
      %th= t '.book'
      %th= t '.price'
      %th= t '.quantity'
      %th= t '.total'
      %th
  %tbody
    -@orders_items.each do |item|
      =render 'carts/cart_row', item:item
    %tr
      %td{colspan:4}
      %td{colspan:2}
        %b
          $#{current_order.total}
.col-md-4.col-md-push-4
  =link_to t('.make-order'), checkout_path, class: 'btn btn-success btn-block'