.confirm
  .row
    %h2= complited ? 'Complited' : 'Confirm'
  .row
    .col-md-3
      %h3 Shipping Address
      =button_tag(tag('span',class:'glyphicon glyphicon-edit'),class:'btn btn-link')
      .info
        -if @order.use_billing_address
          Ship to billing address
        -else
          %span= @order.shipping_address.full_name
          %span= @order.shipping_address.street
          %span= "#{@order.shipping_address.city} #{@order.shipping_address.zip}"
          %span= @order.shipping_address.country
          %span= "Phone #{@order.shipping_address.phone}"
    .col-md-3
      %h3 Billing Address
      =button_tag(tag('span',class:'glyphicon glyphicon-edit'),class:'btn btn-link')
      .info
        %div= @order.billing_address.full_name
        %div= @order.billing_address.street
        %div= "#{@order.billing_address.city} #{@order.billing_address.zip}"
        %div= @order.billing_address.country
        %div= "Phone #{@order.billing_address.phone}"
    .col-md-3
      %h3 Shipments
      =button_tag(tag('span',class:'glyphicon glyphicon-edit'),class:'btn btn-link')
      .info
        =@order.delivery.name
    .col-md-3
      %h3 Payments
      =button_tag(tag('span',class:'glyphicon glyphicon-edit'),class:'btn btn-link')
      .info
        %div
          **** **** **** #{@order.credit_card.number.to_s.last(4)}
  .row
    .col-md-4.col-md-push-4
      -if complited
        =link_to "Go back to the store", root_path, class:'btn btn-block btn-success'
      -else
        =form_tag make_order_url, remote: true, method: :patch, class:'form' do
          =submit_tag "Make Order", class:'btn btn-success btn-block'