.confirm
  .row
    %h2= complited ? t('.title.complited') : t('.title.confirm')
  .row
    .col-md-3
      %h3= t('carts.checkout_address.shipping')
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link',id:'address')
      .info
        -if @order.use_billing_address
          =t('.ship_to_billing')
        -else
          =@order.shipping_address.decorate
    .col-md-3
      %h3= t('carts.checkout_address.billing')
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'address')
      .info
        =@order.billing_address.decorate
    .col-md-3
      %h3= t('carts.checkout.tab-delivery')
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'delivery')
      .info
        =@order.delivery.name
    .col-md-3
      %h3= t('carts.checkout.tab-payment')
      -unless complited
        =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'payment')
      .info
        =@order.credit_card.decorate
  .row
    .col-md-4.col-md-push-4
      -if complited
        =link_to t('.btn_text.complited'), root_path, class:'btn btn-block btn-success'
      -else
        =form_tag make_order_url, remote: true, method: :patch, class:'form' do
          =submit_tag t('.btn_text.comfirm'), class:'btn btn-success btn-block'