%table.table.table-striped.table-bordered.text-center
  -order.orders_items.each do |item|
    =render 'carts/checkout_cart_row', item: item
  %tr
    %tr
      %td.text-right{colspan:2}
        %b= t('.subtotal')
        %td
          $#{order.subtotal}
  -unless order.delivery.nil?
    %tr
      %td.text-right{colspan:2}
        %b= t '.delivery'
        %td
          $#{order.delivery.cost}
  %tr
    %td.text-right{colspan:2}
      %b= t '.total'
    %td
      $#{order.total}