.confirm
  .row
    %h2= t('.title.confirm')
  .row
    .col-md-3
      %h3= t('carts.checkout_address.shipping')
      =button_tag(icon('edit'),class:'btn btn-link tab-link',id:'address')
      .info
        -if @form.use_billing_address
          =t('.ship_to_billing')
        -else
          =print_address(@form.shipping_address.decorate)
    .col-md-3
      %h3= t('carts.checkout_address.billing')
      =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'address')
      .info
        =print_address(@form.billing_address.decorate)
    .col-md-3
      %h3= t('carts.checkout.tab-delivery')
      =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'delivery')
      .info
        =@form.delivery.name
    .col-md-3
      %h3= t('carts.checkout.tab-payment')
      =button_tag(icon('edit'),class:'btn btn-link tab-link', id:'payment')
      .info
        =print_credit_card(@form.credit_card)
  .row
    .col-md-4.col-md-push-4
      =form_for @form, url: checkout_path, remote:true, html: {method: :put, class:'checkout_form'} do |f|
        =f.hidden_field 'step', value: :confirm
        =submit_tag t('.btn_text.comfirm'), class:'btn btn-success btn-block'