%table.table.table-striped.table-bordered.text-center
  -current_order.orders_items.each do |item|
    =render 'cart_row', item: item

  -if current_order.coupon.present?
    %tr
      %td.text-right{colspan:2}
        %b= t '.discount'
        %td
          #{current_order.coupon.discount}%
  %tr
    %td.text-right{colspan:2}
      %b= t('.subtotal')
      %td
        $#{current_order.subtotal}
  -if current_order.delivery.present?
    %tr
      %td.text-right{colspan:2}
        %b= t '.delivery'
        %td
          $#{current_order.delivery.cost}
  %tr
    %td.text-right{colspan:2}
      %b= t '.total'
    %td
      $#{current_order.total}